@import url(./reset.css);
@import url(./colors.css);
@import url(./app.css);

@font-face {
    font-family: 'Inter';
    src: url(../assets/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

html {
    font-family: 'Inter';
}