@import url(./colors.css);
@import url(./app.css);

/* reset styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url(../assets/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

html {
    font-family: 'Inter';
}